USE [EtutTest]
GO
/****** Object:  StoredProcedure [dbo].[sorgu]    Script Date: 21.08.2024 22:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sorgu]
as
select ID,DERSAD, OGRETMEN.AD +' '+OGRETMEN.SOYAD AS 'ÖĞRETMEN',TARIH,SAAT,DURUM from tbletut  inner join TBLDERSLER
ON
TBLETUT.DERSID=TBLDERSLER.DERSID
inner join TBLOGRETMEN AS OGRETMEN
ON
TBLETUT.OGRETMENID=OGRETMEN.OGRTID
WHERE
DURUM=0
